.main{
 background-color: #ffffff75;
 text-transform: uppercase;
 color:  rgb(36, 33, 19);
 border-radius: 1rem;
 text-align: center;
 padding: 1rem;
}

.temp{
font-size: 6rem;
font-weight: 900;
margin: 0;
font-style: italic;

}
.minmaxTemp{
    display: flex;
    justify-content: center;
    gap: 5rem;
}
.minmaxTemp p{
    font-weight: 900;
}
.minmaxTemp span{
    font-weight: 500;
    font-style: italic;
}